.dialog {
    inset: 0px;
    padding: 24px;
    margin: auto;
    overflow: unset;
    border: 1px solid var(--colorTransparentStroke);
    border-radius: var(--borderRadiusXLarge);
    display: block;
    user-select: unset;
    visibility: unset;
    position: fixed;
    height: fit-content;
    max-width: 600px;
    max-height: 100vh;
    box-sizing: border-box;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    box-shadow: var(--shadow64);
}

.backdrop {
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    transition-duration: var(--durationGentle);
    transition-timing-function: var(--curveLinear);
    transition-property: opacity;
    will-change: opacity;
    opacity: 0;
    display: none;

    &.open {
        opacity: 1;
        display: unset;
    }
}