.QwtDLW_Button {
  box-sizing: border-box;
  vertical-align: middle;
  font-family: var(--fontFamilyBase);
  user-select: none;
  transition-duration: var(--durationFaster);
  transition-property: background, border, color;
  transition-timing-function: var(--curveEasyEase);
  border-width: var(--strokeWidthThin);
  border-radius: var(--borderRadiusMedium);
  --icon-button-padding: 5px;
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase300);
  padding: 5px var(--spacingHorizontalS);
  border-style: solid;
  outline-style: none;
  justify-content: center;
  align-items: center;
  min-width: 96px;
  text-decoration-line: none;
  display: inline-flex;
  overflow: hidden;
}

.QwtDLW_Button:not(:where(:disabled, [aria-disabled])) {
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  border-color: var(--colorNeutralStroke1);
}

.QwtDLW_Button:not(:where(:disabled, [aria-disabled])):hover {
  background-color: var(--colorNeutralBackground1Hover);
  border-color: var(--colorNeutralStroke1Hover);
  color: var(--colorNeutralForeground1Hover);
}

.QwtDLW_Button:not(:where(:disabled, [aria-disabled])):active {
  background-color: var(--colorNeutralBackground1Pressed);
  border-color: var(--colorNeutralStroke1Pressed);
  color: var(--colorNeutralForeground1Pressed);
}

.QwtDLW_Button:disabled, .QwtDLW_Button[aria-disabled="true"] {
  border-color: var(--colorNeutralStrokeDisabled);
  cursor: not-allowed;
  background-color: var(--colorNeutralBackgroundDisabled);
  color: var(--colorNeutralForegroundDisabled);
}

.QwtDLW_Button.QwtDLW_primary:not(:where(:disabled, [aria-disabled])) {
  color: var(--colorNeutralForegroundOnBrand);
  background-color: var(--colorBrandBackground);
}

.QwtDLW_Button.QwtDLW_primary:not(:where(:disabled, [aria-disabled])):hover {
  background-color: var(--colorBrandBackgroundHover);
}

.QwtDLW_Button.QwtDLW_primary:not(:where(:disabled, [aria-disabled])):active {
  background-color: var(--colorBrandBackgroundPressed);
}

.QwtDLW_Button.QwtDLW_outline, .QwtDLW_Button.QwtDLW_transparent {
  background-color: var(--colorTransparentBackground);
}

.QwtDLW_Button.QwtDLW_primary, .QwtDLW_Button.QwtDLW_subtle, .QwtDLW_Button.QwtDLW_transparent {
  border-color: #0000;
}

.QwtDLW_Button.QwtDLW_subtle:not(:where(:disabled, [aria-disabled])) {
  background-color: var(--colorSubtleBackground);
  color: var(--colorNeutralForeground2);
  border-color: #0000;
}

.QwtDLW_Button.QwtDLW_subtle:not(:where(:disabled, [aria-disabled])):hover {
  background-color: var(--colorSubtleBackgroundHover);
  color: var(--colorNeutralForeground2Hover);
}

.QwtDLW_Button.QwtDLW_subtle:not(:where(:disabled, [aria-disabled])):hover .Icon {
  color: var(--colorNeutralForeground2BrandHover);
}

.QwtDLW_Button.QwtDLW_subtle:not(:where(:disabled, [aria-disabled])):active {
  background-color: var(--colorSubtleBackgroundPressed);
  color: var(--colorNeutralForeground2Pressed);
}

.QwtDLW_Button.QwtDLW_subtle:not(:where(:disabled, [aria-disabled])):active .Icon {
  color: var(--colorNeutralForeground2BrandPressed);
}

.QwtDLW_Button.QwtDLW_transparent:not(:where(:disabled, [aria-disabled])):hover {
  color: var(--colorNeutralForeground2BrandHover);
}

.QwtDLW_Button.QwtDLW_transparent:not(:where(:disabled, [aria-disabled])):active {
  color: var(--colorNeutralForeground2BrandPressed);
}

.QwtDLW_Button.QwtDLW_circle {
  border-radius: var(--borderRadiusCircular);
}

.QwtDLW_Button.QwtDLW_square {
  border-radius: var(--borderRadiusNone);
}

.QwtDLW_Button.QwtDLW_small {
  --icon-button-padding: 1px;
  font-size: var(--fontSizeBase200);
  line-height: var(--lineHeightBase200);
  font-weight: var(--fontWeightRegular);
  padding: 3px var(--spacingHorizontalS);
}

.QwtDLW_Button.QwtDLW_large {
  --icon-button-padding: 7px;
  font-size: var(--fontSizeBase400);
  line-height: var(--lineHeightBase400);
  padding: 8px var(--spacingHorizontalL);
}

.QwtDLW_Button.QwtDLW_withIcon {
  padding: var(--icon-button-padding) var(--spacingHorizontalM);
}

.QwtDLW_Button.QwtDLW_iconOnly {
  padding: var(--icon-button-padding);
  min-width: unset;
}
.rpFVcW_Dialog {
  overflow: unset;
  border: 1px solid var(--colorTransparentStroke);
  border-radius: var(--borderRadiusXLarge);
  user-select: unset;
  visibility: unset;
  box-sizing: border-box;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  box-shadow: var(--shadow64);
  max-width: 600px;
  height: fit-content;
  max-height: 100vh;
  margin: auto;
  padding: 24px;
  display: block;
  position: fixed;
  inset: 0;
}

.rpFVcW_Backdrop {
  transition-duration: var(--durationGentle);
  transition-timing-function: var(--curveLinear);
  will-change: opacity;
  opacity: 0;
  background-color: #0006;
  transition-property: opacity;
  display: none;
  position: fixed;
  inset: 0;
}

.rpFVcW_Backdrop.rpFVcW_open {
  opacity: 1;
  display: unset;
}

.rpFVcW_DialogTitle {
  font-size: var(--fontSizeHero700);
  justify-content: space-between;
  display: flex;
}

.rpFVcW_DialogTitle .rpFVcW_DialogDismiss > .Icon {
  align-content: end;
  align-self: center;
  width: 24px;
  height: 24px;
}

.rpFVcW_DialogActions {
  justify-content: flex-end;
  gap: 20px;
  display: flex;
}
._03Rvwq_Divider {
  color: var(--colorNeutralForeground2);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

._03Rvwq_Divider._03Rvwq_hasContent {
  gap: 12px;
}

._03Rvwq_Divider._03Rvwq_vertical {
  flex-direction: column;
}

._03Rvwq_Divider._03Rvwq_vertical:before, ._03Rvwq_Divider._03Rvwq_vertical:after {
  border-left-width: var(--strokeWidthThin);
}

._03Rvwq_Divider:not(._03Rvwq_vertical):before, ._03Rvwq_Divider:not(._03Rvwq_vertical):after {
  border-top-width: var(--strokeWidthThin);
}

._03Rvwq_Divider._03Rvwq_inset {
  padding: 0 12px;
}

._03Rvwq_Divider._03Rvwq_inset._03Rvwq_vertical {
  padding: 12px 0;
}

._03Rvwq_Divider:before, ._03Rvwq_Divider:after {
  content: "";
  border-style: solid;
  border-width: 0;
  border-color: var(--colorNeutralStroke2);
  flex-grow: 1;
  min-width: 8px;
}

._03Rvwq_Divider._03Rvwq_subtle {
  color: var(--colorNeutralForeground3);
}

._03Rvwq_Divider._03Rvwq_subtle:before, ._03Rvwq_Divider._03Rvwq_subtle:after {
  border-color: var(--colorNeutralStroke3);
}

._03Rvwq_Divider._03Rvwq_brand {
  color: var(--colorBrandForeground1);
}

._03Rvwq_Divider._03Rvwq_brand:before, ._03Rvwq_Divider._03Rvwq_brand:after {
  border-color: var(--colorBrandStroke1);
}

._03Rvwq_Divider._03Rvwq_strong {
  color: var(--colorNeutralForeground1);
}

._03Rvwq_Divider._03Rvwq_strong:before, ._03Rvwq_Divider._03Rvwq_strong:after {
  border-color: var(--colorNeutralStroke1);
}

._03Rvwq_Divider._03Rvwq_start:before, ._03Rvwq_Divider._03Rvwq_end:after {
  flex-grow: 0;
}

._03Rvwq_Divider > ._03Rvwq_Content {
  font-size: var(--fontSizeBase200);
  width: fit-content;
}
